.mainNav {
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
	background-color: #1660aa;
}
.mainNav .navbartoggler {
	padding: 0.75rem;
	font-size: 0.75rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	text-transform: uppercase;
	font-weight: 700;
}
.mainNav .navbarbrand {
	color: #ffc800;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	letter-spacing: 0.0525em;
	text-transform: uppercase;
}
.mainNav .navbarbrand img {
	height: 1.5rem;
}
.navlink {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 0.95rem;
	color: #fff;
	letter-spacing: 0.0625em;
}
.navlink.active,
.navlink:hover {
	color: #212529;
	background-color: #ffc800;
	border-radius: 1em;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
	.mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border: none;
		background-color: transparent;
		transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
	}
	.mainNav .navbarbrand {
		font-size: 1.5em;
		transition: font-size 0.3s ease-in-out;
	}
	.mainNav .navbarbrand img {
		height: 2rem;
		transition: height 0.3s ease-in-out;
	}
	.mainNav.navbar-shrink {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: #212529;
	}
	.mainNav.navbar-shrink .navbarbrand {
		font-size: 1.25em;
	}
	.mainNav.navbar-shrink .navbarbrand svg,
	.mainNav.navbar-shrink .navbarbrand img {
		height: 1.5rem;
	}
	.mainNav .navbar-nav .nav-item {
		margin-right: 1rem;
	}
	.mainNav .navbar-nav .nav-item:last-child {
		margin-right: 0;
	}
}

/* Header CSS */
header.masthead {
	padding-top: 10.5rem;
	padding-bottom: 6rem;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
header.masthead .masthead-subheading {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.5rem;
	margin-bottom: 25px;
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-bottom: 2rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
	header.masthead {
		padding-top: 17rem;
		padding-bottom: 12.5rem;
	}
	header.masthead .masthead-subheading {
		font-size: 2.25rem;
		font-style: italic;
		line-height: 2.25rem;
		margin-bottom: 2rem;
	}
	header.masthead .masthead-heading {
		font-size: 4.5rem;
		font-weight: 700;
		line-height: 4.5rem;
		margin-bottom: 4rem;
	}
}
