.mainNav {
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
	background-color: #1660aa;
}
.logo {
	max-height: 80px; /* Adjust to fit your navbar */
	width: auto;
	transform: scale(5); /* Zooms 1.5x */
	transform-origin: center;
}
.mainNav .navbartoggler {
	padding: 0.75rem;
	font-size: 0.75rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	text-transform: uppercase;
	font-weight: 700;
}
.mainNav .navbarbrand {
	color: #ffc800;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	letter-spacing: 0.0525em;
	text-transform: uppercase;
}
.mainNav .navbarbrand img {
	height: 1.5rem;
}

.navlink {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 0.95rem;
	color: #000;
	letter-spacing: 0.0625em;
}
.navlink.active,
.navlink:hover {
	color: #000;
	background-color: #ffc800;
	border-radius: 1em;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.serviceLogoImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 992px) {
	.mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border: none;
		background-color: transparent;
		transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
	}
	.mainNav .navbarbrand {
		font-size: 1.5em;
		transition: font-size 0.3s ease-in-out;
	}
	.mainNav .navbarbrand img {
		height: 2rem;
		transition: height 0.3s ease-in-out;
	}
	.mainNav.navbar-shrink {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: #212529;
	}
	.mainNav.navbar-shrink .navbarbrand {
		font-size: 1.25em;
	}
	.mainNav.navbar-shrink .navbarbrand svg,
	.mainNav.navbar-shrink .navbarbrand img {
		height: 1.5rem;
	}
	.mainNav .navbarNav .navItem {
		margin-right: 1rem;
	}
	.mainNav .navbarNav .navItem:last-child {
		margin-right: 0;
	}
}

/* Header CSS */
.masthead {
	padding-top: 10.5rem;
	padding-bottom: 6rem;
	text-align: center;
	color: #fff;
	background: #072f58;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
.masthead .mastheadSubheading {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.5rem;
	margin-bottom: 25px;
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.masthead .mastheadHeading {
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-bottom: 2rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
	.masthead {
		padding-top: 17rem;
		padding-bottom: 12.5rem;
	}
	.masthead .mastheadSubheading {
		font-size: 2.25rem;
		font-style: italic;
		line-height: 2.25rem;
		margin-bottom: 2rem;
	}
	.masthead .mastheadHeading {
		font-size: 4.5rem;
		font-weight: 700;
		line-height: 4.5rem;
		margin-bottom: 4rem;
	}
}

/* About section css */

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.aboutImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aboutContent {
	padding: 60px 25px;
	text-align: center;
	max-width: 760px;
	margin: auto;
}

.aboutH2 {
	color: var(--very-dark-desaturated-blue);
	font-size: 32px;
	margin-bottom: 30px;
}

.aboutP {
	color: var(--dark-grayish-blue);
	line-height: 1.7;
	margin-bottom: 30px;
}

.aboutLink {
	position: relative;
	color: var(--very-dark-desaturated-blue);
	font-size: 16px;
	text-transform: uppercase;
	z-index: 1;
}

.aboutLink::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -8px);
	background: var(--yellow);
	width: calc(100% + 20px);
	height: 10px;
	border-radius: 10px;
	opacity: 0.3;
	z-index: -1;
	transition: var(--default-transition);
}

.aboutLink:hover::after {
	opacity: 1;
}

.pink::after {
	background: var(--soft-red);
}

.services {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.serviceBox {
	position: relative;
}

.imgBox {
	height: 600px;
	overflow: hidden;
}

.serviceImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.serviceAbsoluteContent {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	max-width: 380px;
	padding: 20px;
}

.serviceH3 {
	font-size: 28px;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.serviceP {
	font-size: 16px;
	line-height: 1.7;
}

.serviceH3.cyan,
.serviceP.cyan {
	color: var(--dark-desaturated-cyan);
}

.serviceH3.blue,
.serviceP.blue {
	color: var(--dark-blue);
}
